# 1. Manipulate using a list.
i) add new element to the end of list
ii) to reverse the element in the list
iii) to display the same list of element multiple times
iv) to concatenate two list
v) To sort the elemnts in the list in ascending order

1.(i) add new element to the end of list

In [1]:
lst = [22, 45, 67, 'AAAA']
lst.append(5555)
print(lst)

[22, 45, 67, 'AAAA', 5555]

 1.(ii) to reverse the element in the list

In [2]:
lst.reverse()
print(lst)

[5555, 'AAAA', 67, 45, 22]

 1.(iii) to display the same list of element multiple times

In [3]:
lst = [22, 45, 67, 'AAAA']
repeated_value = 5*lst
print(repeated_value)

[22, 45, 67, 'AAAA', 22, 45, 67, 'AAAA', 22, 45, 67, 'AAAA', 22, 45, 67, 'AAAA', 22, 45, 67, 'AAAA']

 1.(iv) to concatenate two list

In [4]:
list1 = [1, 4, 5, 6, 5]
list2 = [3, 5, 9, 2, 6]
 
# using concatenate method to concat
for i in list2 :
    list1.append(i)
 

print ("Concatenated list: " + str(list1))

Concatenated list: [1, 4, 5, 6, 5, 3, 5, 9, 2, 6]

1.(v)To sort the elemnts in the list in ascending order

In [5]:
list = [10, 8, 3, 22, 33, 7, 11, 100, 54]

#sort list in-place in ascending order
list.sort()
print(list)

[3, 7, 8, 10, 11, 22, 33, 54, 100]

# 2.Write a Program to do in tuple.
(i) Manipulate using tuples
(ii) To add new element in the end of the tuples
(iii) To reverse the element in the list
(iv) To display the elements of the same tuples multiple times
(v) To concatenate two tuples
(vi) To sort the elements in asscending order

(i) Manipulate using tuples

In [7]:
countries1 = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries1 + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

(ii) To add new element in the end of the tuples

In [8]:
s=(2,5,8)
s_append = s + (8, 16, 67)
print(s_append)

(2, 5, 8, 8, 16, 67)

(iii) To reverse the element in the list

In [9]:
l = [1, 2, 3, 4, 5]

print(type(reversed(l)))   #using in built function (reverse)
for i in reversed(l):
    print(i)

<class 'list_reverseiterator'>
5
4
3
2
1

(iv) To display the elements of the same tuples multiple times

In [12]:
test_tup = ("Rishabh", "Messi")
 
print("The original tuple : " + str(test_tup))
 
N = 4

# Repeating tuples N times
# using * operator
res = ((test_tup, ) * N)
 
# printing result
print("The same multiple tuple elements are : " + str(res))

The original tuple : ('Rishabh', 'Messi')
The same multiple tuple elements are : (('Rishabh', 'Messi'), ('Rishabh', 'Messi'), ('Rishabh', 'Messi'), ('Rishabh', 'Messi'))

(v) To concatenate two tuples

In [14]:
tup1 = (1, 45, 5)
tup2 = (4, 78)
print("The original tuple 1 : " + str(tup1))
print("The original tuple 2 : " + str(tup2))
 
result = tup1 + tup2

print("The tuple after concatenation is : " + str(result))

The original tuple 1 : (1, 45, 5)
The original tuple 2 : (4, 78)
The tuple after concatenation is : (1, 45, 5, 4, 78)

(vi) To sort the elements in asscending order

In [15]:
tuple_ = (5, 2, 24, 3, 1, 6, 7)  
sorted_ = tuple(sorted(tuple_))  
print('Sorted Tuple :', sorted_)  
print(type(sorted_))

Sorted Tuple : (1, 2, 3, 5, 6, 7, 24)
<class 'tuple'>

# 3. Write a python program to implement the following using list
I . Create a list with integer(minimum 10 numbers)

II. How to display the last elements in the list

III. Command to dsiplay the values from the list [0:4]

IV. Command to dsiplay the values from the list [2:]

V. Command to dsiplay the values from the list [0:6]

Create a list with integer(minimum 10 numbers)

In [52]:
def createList(r1, r2):
    return [item for item in range(r1, r2+1)]
r1, r2 = 0, 10
print(createList(r1, r2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

How to display the last elements in the list

In [54]:
inputList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Input list:", inputList)
lastElement = inputList[-1:][0]
print("Last element of the input list = ", lastElement)

Input list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Last element of the input list =  10

 Command to dsiplay the values from the list [0:4]

In [55]:
inputList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Input list:", inputList)
Element = inputList[0:4]
print("Display Value = ", Element)

Input list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Display Value =  [0, 1, 2, 3]

Command to dsiplay the values from the list [0:6]

In [56]:
inputList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Input list:", inputList)
Element = inputList[0:6]
print("Display Value = ", Element)

Input list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Display Value =  [0, 1, 2, 3, 4, 5]

Command to dsiplay the values from the list [2:]

In [57]:
inputList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Input list:", inputList)
Element = inputList[2:]
print("Display Value = ", Element)

Input list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Display Value =  [2, 3, 4, 5, 6, 7, 8, 9, 10]

# 4.Write a python program: tuple1=(10,50,20,40,30)
I. To display element 10 and 50 from tuple1
II.	To display the length of a tuple1
III.To find the minimum element from tuple
Iv.	To add all elements In the tuplel.
v.	To display the Same tuple multiple times.

I. To display element 10 and 50 from tuple1

In [16]:
tuple1 = (10,50,20,40,30)  

print(tuple1)

(10, 50, 20, 40, 30)

II. To display the length of a tuple1

In [17]:
tuple1 = (10,50,20,40,30)  

print(len(tuple1))

5

III.To find the minimum element from tuple

In [18]:
tuple1 = [10,50,20,40,30]  

print("Minimum element is:", min(tuple1))

Minimum element is: 10

Iv. To add all elements In the tuplel.

In [21]:
tuple1= [10,50,20,40,30]

Sum = sum(tuple1)  

print(Sum)

150

v. To display the Same tuple multiple times.

In [22]:
tuple1 = [10,50,20,40,30] 
print("The original tuple : " + str(tuple1))
N = 4
res = ((tuple1, ) * N)
print("The same tuple elements are : " + str(res))

The original tuple : [10, 50, 20, 40, 30]
The same tuple elements are : ([10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30])

# 5.Write a Python program

I.To calculate the length of a string

II.	To reverse words In a string

III.To display the same string multiple times 

IV.	To concatenate two strings

v.	Str1=H South India",using string slicing to display "India"

I.To calculate the length of a string

In [24]:
counter = 0
for c in "educative":
    counter+=1 
print (counter)

9

II. To reverse words In a string

In [25]:
x = input("Enter any string: ")
a = x.split()
a.reverse()
print(' '.join(a))

Enter any string: Rishabh Kumar Singh
Singh Kumar Rishabh

III. To display the same string multiple times

In [26]:
saying = 'Wash. Rinse. Repeat!\t'
print(saying * 4)

Wash. Rinse. Repeat!	Wash. Rinse. Repeat!	Wash. Rinse. Repeat!	Wash. Rinse. Repeat!

IV.To concatenate two strings

In [27]:
str1="Hello"
str2="World"
print ("String 1:",str1)
print ("String 2:",str2)
str=str1+str2
print("Concatenated two strings:",str)

String 1: Hello
String 2: World
Concatenated two strings: HelloWorld

V. Str1=H South India",using string slicing to display "India"

In [51]:
S1= 'H South India'
print(S1[7:])

 India

# 6Perform the following:
I)Creating the Dictionary

II)	Accessing values and keys In the Dictionary.

III)Updating the dictionary using a function

IV)	Clear and delete the dictionary values

Creating the Dictionary

In [1]:
Dict = {1: 'Rishabh', 2: 'Kumar', 3: 'Singh'}
print(Dict)

{1: 'Rishabh', 2: 'Kumar', 3: 'Singh'}

Accessing values and keys In the Dictionary.

In [5]:
Dict = {1: 'Rishabh', 2: 'Kumar', 3: 'Singh'}
print("Original dictionary is : " + str(Dict))
print("Dict key-value are : ")
for i in Dict:
    print(i, Dict[i])

Original dictionary is : {1: 'Rishabh', 2: 'Kumar', 3: 'Singh'}
Dict key-value are :
1 Rishabh
2 Kumar
3 Singh

Updating the dictionary using a function

In [6]:
car = { "brand": "Ford", "model": "Mustang", "year": 1964 }

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

Clear and delete the dictionary values

In [10]:
d = {1: 'Rishabh', 2: 'Kumar', 3: 'Singh'}

d.clear()    #clear the values
print(d)

{}

In [15]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

del d['k2']
print(d)

{'k1': 1, 'k3': 3}

# 7. Python program to insert a number to any position in a list

In [16]:
def Positon(Num,Position):                    
    list=[12,52,85,65,84,216,15,5,255,6,824,51,4,5]
    list[Position-1]=Num                         
    return list
Positon(5000,3)

[12, 52, 5000, 65, 84, 216, 15, 5, 255, 6, 824, 51, 4, 5]

# 8 Python program to delete an element from a list by index

In [18]:
inputList = ["Welcome", "to", "python", "programming"]
givenIndex = 3
del inputList[givenIndex]
print("List after deleting specified list item:", inputList)

List after deleting specified list item: ['Welcome', 'to', 'python']

#  9. Write a program to display a no from 1 to 100

In [19]:
n = int(input('Enter a number : '))
i = 1
while i <= n:
    print(i, end=" ")
    i+=1

Enter a number : 100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10. Write a Python program to find the sum of all items in a tuple

In [20]:
Tuple = (20, 40, 65, 75, 80, 220)
print("Tuple Items = ", Tuple)

Sum = sum(Tuple)
print("\nThe Sum of Tuple Items = ", Sum)

Tuple Items =  (20, 40, 65, 75, 80, 220)

The Sum of Tuple Items =  500

# Control Structure

1. Write a python program to find the first N Prime no:

In [22]:
def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

Enter N:15
First 15 Prime numbers are:2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

3. Write a python program to search for a stringh in the given list

In [23]:
l = [1, 2.0, 'i', 'a', 'car',]

s = 'car' 
 
if s in l:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

car is present in the list