# 1 Write a python function to list even and odd numbers in a list

In [58]:
def list_even_odd_numbers(numbers):
    even_numbers = []
    odd_numbers = []
    
    for num in numbers:
        if num % 2 == 0:
            even_numbers.append(num)
        else:
            odd_numbers.append(num)
    
    return even_numbers, odd_numbers
numbers = [1, 2, 3, 4, 5, 6]
even, odd = list_even_odd_numbers(numbers)
print("Even numbers:", even)
print("Odd numbers:", odd)

Even numbers: [2, 4, 6]
Odd numbers: [1, 3, 5]

# 2Write and run a Python program that asks the user to enter 8 integers (one at a time)and then prints out how many of those integers were even numbers. For example, if the user entered 19,6, 9, 20, 13, 7, 6, and 1, then your program should print out 3 since 3 of those numbers were even

In [59]:
even_count = 0
for i in range(6):
    num = int(input("Ent an integer:"))
    if num % 2 == 0:
        even_count += 1
        print(even_count)

Ent an integer:6
1
Ent an integer:77
Ent an integer:45
Ent an integer:87
Ent an integer:4
2
Ent an integer:76
3

# 3# 1Write a Python program where you take any positive integer nif n is evendivide it by 2 to get n/
2. If n is odd, multiply it by 3 and add 1 to obtain 3n+ 1. Repeat the process until you reach 1

In [63]:
def sequence(num):
    while num != 1:
        print(num, end=' ')
        if num % 2 == 0:
            num //= 2
        else:
            num = 3 * num + 1
    print(1)

try:
    num = int(input("entr a positive integer: "))
    if num <= 0:
        print("entr a positive integer.")
    else:
        sequence(num)
except ValueError:
    print("error enter a positive integer.")

entr a positive integer: 3
3 10 5 16 8 4 2 1

# 4 Write a python program to compute the sum of all the multiple od 3 or 5 below 500.

In [66]:
total_sum = 0
for num in range(1, 500):
    if num % 3 == 0 or num % 5 == 0:
        total_sum += num
        print(total_sum)

3
8
14
23
33
45
60
78
98
119
143
168
195
225
258
293
329
368
408
450
495
543
593
644
698
753
810
870
933
998
1064
1133
1203
1275
1350
1428
1508
1589
1673
1758
1845
1935
2028
2123
2219
2318
2418
2520
2625
2733
2843
2954
3068
3183
3300
3420
3543
3668
3794
3923
4053
4185
4320
4458
4598
4739
4883
5028
5175
5325
5478
5633
5789
5948
6108
6270
6435
6603
6773
6944
7118
7293
7470
7650
7833
8018
8204
8393
8583
8775
8970
9168
9368
9569
9773
9978
10185
10395
10608
10823
11039
11258
11478
11700
11925
12153
12383
12614
12848
13083
13320
13560
13803
14048
14294
14543
14793
15045
15300
15558
15818
16079
16343
16608
16875
17145
17418
17693
17969
18248
18528
18810
19095
19383
19673
19964
20258
20553
20850
21150
21453
21758
22064
22373
22683
22995
23310
23628
23948
24269
24593
24918
25245
25575
25908
26243
26579
26918
27258
27600
27945
28293
28643
28994
29348
29703
30060
30420
30783
31148
31514
31883
32253
32625
33000
33378
33758
34139
34523
34908
35295
35685
36078
36473
36869
37268
37668
38070
38475
38883
39293
39704
40118
40533
40950
41370
41793
42218
42644
43073
43503
43935
44370
44808
45248
45689
46133
46578
47025
47475
47928
48383
48839
49298
49758
50220
50685
51153
51623
52094
52568
53043
53520
54000
54483
54968
55454
55943
56433
56925
57420
57918

# 5)To Find the first N prime no's from a list of given numbers.

In [67]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False

    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False

    return True

def find_first_n_primes(numbers, n):
    prime_numbers = []
    for num in numbers:
        if is_prime(num):
            prime_numbers.append(num)
            if len(prime_numbers) == n:
                break
    return prime_numbers


given_numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]  
n = 5 

prime_list = find_first_n_primes(given_numbers, n)
print(prime_list)

[2, 3, 5, 7, 11]

# 6 To comute matrix Multiplication

In [69]:
def matrix_multiply(matrixA, matrixB):
    if len(matrixA[0]) != len(matrixB):
        return "error dimensions"
    result = [[0 for _ in range(len(matrixB[0]))] for _ in range(len(matrixA))]

    for i in range(len(matrixA)):
        for j in range(len(matrixB[0])):
            for k in range(len(matrixB)):
                result[i][j] += matrixA[i][k] * matrixB[k][j]
    return result
matrix_1 = [[19, 9, 6], [3, 2, 9]]
matrix_2 = [[12, 8], [24, 10], [11, 21]]

result_matrix = matrix_multiply(matrix_1, matrix_2)
if isinstance(result_matrix, str):
    print(result_matrix)
else:
    print("rsult of matrix multiplication:")
    for row in result_matrix:
        print(row)

rsult of matrix multiplication:
[510, 368]
[183, 233]

# 7 To count no of vowels in string

In [3]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:Rishabh
Number of vowels are:
2

# 8.write a python function for finding factorial for the given number using a recursive function

In [4]:
def recur_factorial(n):  
   if n == 1:  
       return n  
   else:  
       return n*recur_factorial(n-1)   
num = int(input("Enter a number: "))  
 
if num < 0:  
   print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:  
   print("The factorial of 0 is 1")  
else:  
   print("The factorial of",num,"is",recur_factorial(num))

Enter a number: 5
The factorial of 5 is 120

# 9.write a Python function for generating the Fibonacci series using the function

In [5]:
def Fibonacci(number):
           if(number == 0):
                      return 0
           elif(number == 1):
                      return 1
           else:
                      return (Fibonacci(number - 2)+ Fibonacci(number - 1))
number = int(input("Enter the Range Number: "))
for n in range(0, number):
           print(Fibonacci(n))

Enter the Range Number: 5
0
1
1
2
3

# 10. Python program to display the given integer in reverse order using the function without an inbuilt function

In [6]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

# 11.write a Python function to display all integer within the range 200 to 300 whose sum of digit is an even number

In [7]:
list=[]                   
for i in range(200,300): 
    i=str(i)              
    sum=0                 
    for j in i:           
        j=int(j)          
        sum=sum+j         
    if sum%2==0:          
        list.append(i)    
print('All Integers Within The Range 200-300 Whose Sum Of Digits Is An Even Number is =',list)

All Integers Within The Range 200-300 Whose Sum Of Digits Is An Even Number is = ['200', '202', '204', '206', '208', '211', '213', '215', '217', '219', '220', '222', '224', '226', '228', '231', '233', '235', '237', '239', '240', '242', '244', '246', '248', '251', '253', '255', '257', '259', '260', '262', '264', '266', '268', '271', '273', '275', '277', '279', '280', '282', '284', '286', '288', '291', '293', '295', '297', '299']

# 12. write a Python function to find the number of digits and sum of digits for a given integer

In [11]:
def getSum(n):
    
    sum = 0
    while (n != 0):
       
        sum = sum + (n % 10)
        n = n//10
       
    return sum
   
n = 12345
print(getSum(n))

15

# 13.write function called a sorted that take a list as a parameter and return true if the list is taught in ascending order and false otherwise has duplicate that takes a list and return true if there is any element that appear more than once

In [18]:
def is_sorted(a):
    for i in range(len(a)-1):
        print(a[i], a[i+1])
        if a[i]<=a[i+1]:
            return True
    return False
 
print(is_sorted([8,3,1,4,0,5,6]))

8 3
3 1
1 4
True

# 14.write function called nested some that take a list of integer and add of the element from all the nested list and come some that takes a list of numbers and return the cumulative sum that is a new list where the i element is the sum of the first i+1 elements from the original list

In [20]:
def sum1(lst):
    total = 0
    for element in lst:
        if (type(element) == type([])):
            total = total + sum1(element)
        else:
            total = total + element
    return total
print( "Sum is:",sum1([[3,5],[3,4]]))

Sum is: 15