# 1. Manipulate using a list.
i) add new element to the end of list
ii) to reverse the element in the list
iii) to display the same list of element multiple times
iv) to concatenate two list
v) To sort the elemnts in the list in ascending order

1.(i) add new element to the end of list

In [1]:
lst = [22, 45, 67, 'AAAA']
lst.append(5555)
print(lst)

[22, 45, 67, 'AAAA', 5555]

 1.(ii) to reverse the element in the list

In [2]:
lst.reverse()
print(lst)

[5555, 'AAAA', 67, 45, 22]

 1.(iii) to display the same list of element multiple times

In [3]:
lst = [22, 45, 67, 'AAAA']
repeated_value = 5*lst
print(repeated_value)

[22, 45, 67, 'AAAA', 22, 45, 67, 'AAAA', 22, 45, 67, 'AAAA', 22, 45, 67, 'AAAA', 22, 45, 67, 'AAAA']

 1.(iv) to concatenate two list

In [4]:
list1 = [1, 4, 5, 6, 5]
list2 = [3, 5, 9, 2, 6]
 
# using concatenate method to concat
for i in list2 :
    list1.append(i)
 

print ("Concatenated list: " + str(list1))

Concatenated list: [1, 4, 5, 6, 5, 3, 5, 9, 2, 6]

1.(v)To sort the elemnts in the list in ascending order

In [5]:
list = [10, 8, 3, 22, 33, 7, 11, 100, 54]

#sort list in-place in ascending order
list.sort()
print(list)

[3, 7, 8, 10, 11, 22, 33, 54, 100]

# 2.Write a Program to do in tuple.
(i) Manipulate using tuples
(ii) To add new element in the end of the tuples
(iii) To reverse the element in the list
(iv) To display the elements of the same tuples multiple times
(v) To concatenate two tuples
(vi) To sort the elements in asscending order

(i) Manipulate using tuples

In [6]:
countries1 = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries1 + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

(ii) To add new element in the end of the tuples

In [7]:
s=(2,5,8)
s_append = s + (8, 16, 67)
print(s_append)

(2, 5, 8, 8, 16, 67)

(iii) To reverse the element in the list

In [8]:
l = [1, 2, 3, 4, 5]

print(type(reversed(l)))   #using in built function (reverse)
for i in reversed(l):
    print(i)

<class 'list_reverseiterator'>
5
4
3
2
1

(iv) To display the elements of the same tuples multiple times

In [9]:
test_tup = ("Rishabh", "Messi")
 
print("The original tuple : " + str(test_tup))
 
N = 4

# Repeating tuples N times
# using * operator
res = ((test_tup, ) * N)
 
# printing result
print("The same multiple tuple elements are : " + str(res))

The original tuple : ('Rishabh', 'Messi')
The same multiple tuple elements are : (('Rishabh', 'Messi'), ('Rishabh', 'Messi'), ('Rishabh', 'Messi'), ('Rishabh', 'Messi'))

(v) To concatenate two tuples

In [10]:
tup1 = (1, 45, 5)
tup2 = (4, 78)
print("The original tuple 1 : " + str(tup1))
print("The original tuple 2 : " + str(tup2))
 
result = tup1 + tup2

print("The tuple after concatenation is : " + str(result))

The original tuple 1 : (1, 45, 5)
The original tuple 2 : (4, 78)
The tuple after concatenation is : (1, 45, 5, 4, 78)

(vi) To sort the elements in asscending order

In [11]:
tuple_ = (5, 2, 24, 3, 1, 6, 7)  
sorted_ = tuple(sorted(tuple_))  
print('Sorted Tuple :', sorted_)  
print(type(sorted_))

Sorted Tuple : (1, 2, 3, 5, 6, 7, 24)
<class 'tuple'>

# 3. Write a python program to implement the following using list
I . Create a list with integer(minimum 10 numbers)

II. How to display the last elements in the list

III. Command to dsiplay the values from the list [0:4]

IV. Command to dsiplay the values from the list [2:]

V. Command to dsiplay the values from the list [0:6]

Create a list with integer(minimum 10 numbers)

In [12]:
def createList(r1, r2):
    return [item for item in range(r1, r2+1)]
r1, r2 = 0, 10
print(createList(r1, r2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

How to display the last elements in the list

In [13]:
inputList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Input list:", inputList)
lastElement = inputList[-1:][0]
print("Last element of the input list = ", lastElement)

Input list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Last element of the input list =  10

 Command to dsiplay the values from the list [0:4]

In [14]:
inputList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Input list:", inputList)
Element = inputList[0:4]
print("Display Value = ", Element)

Input list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Display Value =  [0, 1, 2, 3]

Command to dsiplay the values from the list [0:6]

In [15]:
inputList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Input list:", inputList)
Element = inputList[0:6]
print("Display Value = ", Element)

Input list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Display Value =  [0, 1, 2, 3, 4, 5]

Command to dsiplay the values from the list [2:]

In [16]:
inputList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Input list:", inputList)
Element = inputList[2:]
print("Display Value = ", Element)

Input list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Display Value =  [2, 3, 4, 5, 6, 7, 8, 9, 10]

# 4.Write a python program: tuple1=(10,50,20,40,30)
I. To display element 10 and 50 from tuple1
II.	To display the length of a tuple1
III.To find the minimum element from tuple
Iv.	To add all elements In the tuplel.
v.	To display the Same tuple multiple times.

I. To display element 10 and 50 from tuple1

In [17]:
tuple1 = (10,50,20,40,30)  

print(tuple1)

(10, 50, 20, 40, 30)

II. To display the length of a tuple1

In [18]:
tuple1 = (10,50,20,40,30)  

print(len(tuple1))

5

III.To find the minimum element from tuple

In [19]:
tuple1 = [10,50,20,40,30]  

print("Minimum element is:", min(tuple1))

Minimum element is: 10

Iv. To add all elements In the tuplel.

In [20]:
tuple1= [10,50,20,40,30]

Sum = sum(tuple1)  

print(Sum)

150

v. To display the Same tuple multiple times.

In [21]:
tuple1 = [10,50,20,40,30] 
print("The original tuple : " + str(tuple1))
N = 4
res = ((tuple1, ) * N)
print("The same tuple elements are : " + str(res))

The original tuple : [10, 50, 20, 40, 30]
The same tuple elements are : ([10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30])

# 5.Write a Python program

I.To calculate the length of a string

II.	To reverse words In a string

III.To display the same string multiple times 

IV.	To concatenate two strings

v.	Str1=H South India",using string slicing to display "India"

I.To calculate the length of a string

In [22]:
counter = 0
for c in "educative":
    counter+=1 
print (counter)

9

II. To reverse words In a string

In [23]:
x = input("Enter any string: ")
a = x.split()
a.reverse()
print(' '.join(a))

Enter any string: tuu
tuu

III. To display the same string multiple times

In [24]:
saying = 'Wash. Rinse. Repeat!\t'
print(saying * 4)

Wash. Rinse. Repeat!	Wash. Rinse. Repeat!	Wash. Rinse. Repeat!	Wash. Rinse. Repeat!

IV.To concatenate two strings

In [25]:
str1="Hello"
str2="World"
print ("String 1:",str1)
print ("String 2:",str2)
str=str1+str2
print("Concatenated two strings:",str)

String 1: Hello
String 2: World
Concatenated two strings: HelloWorld

V. Str1=H South India",using string slicing to display "India"

In [26]:
S1= 'H South India'
print(S1[7:])

 India

# 6Perform the following:
I)Creating the Dictionary

II)	Accessing values and keys In the Dictionary.

III)Updating the dictionary using a function

IV)	Clear and delete the dictionary values

Creating the Dictionary

In [27]:
Dict = {1: 'Rishabh', 2: 'Kumar', 3: 'Singh'}
print(Dict)

{1: 'Rishabh', 2: 'Kumar', 3: 'Singh'}

Accessing values and keys In the Dictionary.

In [38]:
dict = {1:'Mon',2:'Tue',3:'Wed',4:'Thu',5:'Fri'}
print("Given Dictionary: ",dict)
print("Keys and Values: ")
for i in dict :
   print(i, dict[i])

Given Dictionary:  {1: 'Mon', 2: 'Tue', 3: 'Wed', 4: 'Thu', 5: 'Fri'}
Keys and Values:
1 Mon
2 Tue
3 Wed
4 Thu
5 Fri

Updating the dictionary using a function

In [ ]:
car = { "brand": "Ford", "model": "Mustang", "year": 1964 }

car.update({"color": "White"})

print(car)

Clear and delete the dictionary values

In [ ]:
d = {1: 'Rishabh', 2: 'Kumar', 3: 'Singh'}

d.clear()    #clear the values
print(d)

In [ ]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

del d['k2']
print(d)

# 7. Python program to insert a number to any position in a list

In [ ]:
def Positon(Num,Position):                    
    list=[12,52,85,65,84,216,15,5,255,6,824,51,4,5]
    list[Position-1]=Num                         
    return list
Positon(5000,3)

# 8 Python program to delete an element from a list by index

In [ ]:
inputList = ["Welcome", "to", "python", "programming"]
givenIndex = 3
del inputList[givenIndex]
print("List after deleting specified list item:", inputList)

#  9. Write a program to display a no from 1 to 100

In [ ]:
n = int(input('Enter a number : '))
i = 1
while i <= n:
    print(i, end=" ")
    i+=1

# 10. Write a Python program to find the sum of all items in a tuple

In [ ]:
Tuple = (20, 40, 65, 75, 80, 220)
print("Tuple Items = ", Tuple)

Sum = sum(Tuple)
print("\nThe Sum of Tuple Items = ", Sum)

# Control Structure

1. Write a python program to find the first N Prime no:

In [ ]:
def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

3. Write a python program to search for a stringh in the given list

In [ ]:
l = [1, 2.0, 'i', 'a', 'car',]

s = 'car' 
 
if s in l:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

4. Write python function that accept a string and calculate the numberof upper case letter and lower case letter

In [75]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

5. Write a program to display the sum of odd numberand even numbers that fall between 12 and 37

In [31]:
minimum = int(input(" Please Enter the Minimum Value : ")) 
maximum = int(input(" Please Enter the Maximum Value : "))

even_total = 0
odd_total = 0
 
for number in range(minimum, maximum + 1):
    if(number % 2 == 0):
        even_total = even_total + number
    else:
        odd_total = odd_total + number
 
print("The Sum of Even Numbers from 12 to {0} = {1}".format(number, even_total))
print("The Sum of Odd Numbers from 12 to {0} = {1}".format(number, odd_total))

 Please Enter the Minimum Value : 12
 Please Enter the Maximum Value : 35
The Sum of Even Numbers from 12 to 35 = 276
The Sum of Odd Numbers from 12 to 35 = 288

6. WAP to print thetable of any number

In [39]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))             
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 3
The Multiplication Table of:  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

7. Write a python program to sum the first 10 prime number

In [46]:
last_number = int(input("\nPlease enter the last number up till which sum of prime number is to be found:"))
print ("We will find the sum of prime numbers in python upto", last_number)
sum = 0
for number in range(2, last_number + 1):
    i = 2
    for i in range(2, number):
        if (int(number % i) == 0):
            i = number
            break;
    if i is not number:
        sum = sum + number
print("\nThe sum of prime numbers in python from 1 to ", last_number, " is :", sum)

Please enter the last number up till which sum of prime number is to be found:10
We will find the sum of prime numbers in python upto 10

The sum of prime numbers in python from 1 to  10  is : 15

8. Write a python program to implement arthemetic operations using nested if statement

In [60]:
choice = int(input("Enter your choice:n"))
print("Enter two numbers: ")
num1 = int(input())
num2 = int(input())
if choice == 1: # To add two numbers
  res = num1 + num2
  print("Result = ", res)

if choice == 2: # To subtract two numbers
  res = num1 - num2
  print("Result = ", res)

if choice == 3: # To multiply two numbers
  res = num1 * num2
  print("Result = ", res)

if choice == 4: # To get quotient with decimal value
  res = num1 / num2
  print("Result = ", res)

if choice == 5:
    exit()
else:
    print("Wrong input")

Enter your choice:n3
Enter two numbers:
4
6
Result =  24
Wrong input

9. Write a python program to take temperature in celsius and convert into fahrenheit

In [63]:
celsius = int(input("Enter the Temperature in Celsius :\n"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit :", fahrenheit)

Enter the Temperature in Celsius :
51
Temperature in Fahrenheit : 123.8

10.Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [74]:
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)